html {
  position: relative;
  min-height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #343a40;
  background-size:cover;
  background-image: url('https://images.unsplash.com/photo-1604956556836-c8326185ac03?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2042&q=80');
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
@media screen and (max-width: 420px) {
  #quote{
    font-size: 1.2rem !important;
  
  }
}
